/* You can add global styles to this file, and also import other style files */
:root { --bg: #ffffff; --fg: #111111; }
.dark { --bg: #121212; --fg: #eaeaea; }

body { background-color: var(--bg); color: var(--fg); }
.card, .navbar { background-color: var(--bg); color: var(--fg); }
